body{
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; /*Se queda en el centro no se mueve*/
    background-image: url(../imagenes/fondomail.gif);
}



footer{
    clear: both;
    background-color: white;
    border-bottom:  solid black thick;
    border-top: solid black thick;

    
}


#formulario{

    margin-right: 1%;
}

header{
    float: left;
    width: 100%;
}

header img{
    width: 15%;
    margin-left: 3%;
}

section{
    clear: both;
    width: 50%;
    margin-left: 30%;
    
    
    text-align: center;
    font-size: 180%;
    color: white;

    margin-bottom: 5% ;
}




#nombre{
    margin: 1%;
    width: 80%;
}

#mensaje{
    margin: 1%;
    width: 80%;
    resize: none;
    
}


.btn {
    clear: both;
    
    margin-left: 61.5%;
    width: 20%;
    padding: 1%;

}





