body{
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; /*Se queda en el centro no se mueve*/
    background-image: url(../imagenes/fondoweb.gif);
}


header {
    width: 100%;
   
}

header #logo {
    float: left;
    width: 20%;
    margin-top: 0%;

}


header #busca{
    padding:0 10px;
    float: left;
    margin-top: 4%; 
    
}

header .icon img {

    margin-top: 50%;
    width: 100%;

}



header .icon{

    float: left;
    width: 3%;
    margin-right: -1%;

    font-weight: bold;
}

footer{
    clear: both;
    background-color: white;
    border-bottom:  solid black thick;
    border-top: solid black thick;
}

#menualt {
    
    clear: both;
    float: left;
    width: 15%;
    padding-left: 2%;
    margin-right: 3%;
    position: sticky;
    top: 4%;
    
    
}



#menualt ul {
    background-color: white;
    border: solid black thick;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: -12%;
}

#menualt ol {
    

    background-color: white;
    border: solid black thick;
    padding-top: 5%;
    padding-bottom: 5%;
}


header nav ul {
    clear: both;
    margin:20px;
    
}

header nav ul li{

    border: solid black thin;
    display:block;
    float: left;
    padding:0 10px;
    background-color: white;
    width: 9%;
      
    overflow: hidden;
    text-overflow: ellipsis;


}





#col1{
    float: left;
    background-color: white;
    border: solid black thick;
    width: 70%;
    padding: 1%;
    margin-bottom: 3%;
    margin-top: 1%;


}

img {
    width: 90%;
}

.kirby {
    width: 10%;
}

.max{
    width: 50%;
}

#steam{
    width: 30%;
}